Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=POST",
        "path": "simulasi-cs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "98777224-ad66-47c4-a994-9312e1624aaf",
      "name": "Webhook",
      "webhookId": "69ca2a8c-aed7-46f3-906a-b3858d939056"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "={{ $json.body.customPrompt }}. Ingat, nama kamu adalah {{ $json.body.customName }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "939b390f-42e0-4429-84e7-e21094c6aef9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"balasan\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "1103c4c4-f7cf-4b5c-9c4b-3af639d4a1f1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "id": "9742b38b-19d9-46a2-8869-3ad9de34cd33",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EiKB5SpUx23t1Nok",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e61716019b67026e71ef67e796c778b9d012e64c8e3a8a112c8b2de57eb3be8"
  }
}
